@page "/"
@using ExpenseExplorer.WebApp.Models
@using ExpenseExplorer.WebApp.Services
@inject IStringLocalizer<Receipts> Localizer
@inject ReceiptService ReceiptService

<PageTitle>@Localizer["_Receipts"]</PageTitle>

<h3>@Localizer["_Receipts"]</h3>

<RadzenDataGrid
    @ref=_grid
    Data="@_receiptDetails"
    Count="@_count"
    LoadData="@LoadData"
    Density="Density.Compact"
    PageSize="25"
    AllowPaging="true"
    PagerHorizontalAlign="HorizontalAlign.Center"
    ShowPagingSummary="true"
    PageSizeOptions="[10, 25]"
    PageSizeText="@Localizer["PageSizeText"]"
    AllowFiltering="true"
    FilterMode="FilterMode.Simple"
    AllowSorting="true"
    GotoFirstPageOnSort="true">
    <PagingSummaryTemplate>
        @((MarkupString)string.Format(Localizer["PagingSummaryTemplate"], context.CurrentPage, context.NumberOfPages, context.TotalCount))
    </PagingSummaryTemplate>
    <Columns>
        <RadzenDataGridColumn Property="@nameof(ReceiptDetails.Id)" Title="@Localizer["Id"]" Visible="false"/>
        <RadzenDataGridColumn Property="@nameof(ReceiptDetails.Store)" Title="@Localizer["Store"]">
            <FilterTemplate>
                <RadzenDropDown @bind-Value="@_selectedStores" Data="@_stores" AllowVirtualization="true" AllowFiltering="true" AllowClear="true" Multiple="true" Chips="true" SelectedItemsText="@Localizer["SelectedItemsText"]" Change="@Reload" Style="width:100%"/>
            </FilterTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn
            Property="@nameof(ReceiptDetails.PurchaseDate)"
            FormatString="{0:dd/MM/yyyy}"
            Title="@Localizer["PurchaseDate"]"
            SortOrder="SortOrder.Descending">
            <FilterTemplate>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                    <RadzenLabel Text="@($"{Localizer["From"]}: ")" Component="PurchaseDateFromDatePicker"/>
                    <RadzenDatePicker TValue="DateOnly?" @bind-Value="@_purchaseDateFrom" AllowClear="true" Name="PurchaseDateFromDatePicker" Change="@Reload"/>
                    <RadzenLabel Text="@($"{Localizer["To"]}: ")" Component="PurchaseDateToDatePicker"/>
                    <RadzenDatePicker TValue="DateOnly?" @bind-Value="@_purchaseDateTo" AllowClear="true" Name="PurchaseDateToDatePicker" Change="@Reload"/>
                </RadzenStack>
            </FilterTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(ReceiptDetails.TotalCost)" Title="@Localizer["TotalCost"]">
            <FilterTemplate>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                    <RadzenLabel Text="@($"{Localizer["Min"]}: ")" Component="TotalCostFromDatePicker"/>
                    <RadzenNumeric TValue="decimal?" @bind-Value="@_totalCostFrom" ShowUpDown="false" Name="TotalCostFromDatePicker" Change="@Reload"/>
                    <RadzenLabel Text="@($"{Localizer["Max"]}: ")" Component="TotalCostToDatePicker"/>
                    <RadzenNumeric TValue="decimal?" @bind-Value="@_totalCostTo" ShowUpDown="false" Name="TotalCostToDatePicker" Change="@Reload"/>
                </RadzenStack>
            </FilterTemplate>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {
    private RadzenDataGrid<ReceiptDetails> _grid = null!;
    private int _count;
    private IEnumerable<ReceiptDetails> _receiptDetails = null!;

    // Filters
    private IEnumerable<string> _stores = [];
    private IEnumerable<string>? _selectedStores;
    private DateOnly? _purchaseDateFrom = DateOnly.FromDateTime(DateTime.Today.AddDays(-DateTime.Today.Day + 1).AddMonths(-1));
    private DateOnly? _purchaseDateTo;
    private decimal? _totalCostFrom;
    private decimal? _totalCostTo;

    protected override async Task OnInitializedAsync()
    {
        _stores = await ReceiptService.GetStores();
        await base.OnInitializedAsync();
    }

    private async Task Reload() => await _grid.FirstPage(forceReload: true);
    
    private async Task LoadData(LoadDataArgs args)
    {
        (_receiptDetails, _count) = await ReceiptService.GetReceiptsAsync(
            args.Top.GetValueOrDefault(10),
            args.Skip.GetValueOrDefault(),
            args.OrderBy,
            _selectedStores ?? [],
            _purchaseDateFrom,
            _purchaseDateTo,
            _totalCostFrom,
            _totalCostTo);
    }
}