@page "/"
@using System.Linq.Dynamic.Core
@inject IStringLocalizer<Receipts> Localizer

<PageTitle>@Localizer["_Receipts"]</PageTitle>

<h3>@Localizer["_Receipts"]</h3>

<RadzenDataGrid
    @ref=grid
    Data="@receiptDetails"
    Count="@count"
    LoadData="@LoadData"
    Style="height: 400px"
    AllowPaging="true"
    AllowFiltering="true"
    FilterMode="FilterMode.Simple"
    AllowSorting="true"
    GotoFirstPageOnSort="true">
    <Columns>
        <RadzenDataGridColumn Property="@nameof(ReceiptDetail.Id)" Title="@Localizer["Id"]" Visible="false" />
        <RadzenDataGridColumn Property="@nameof(ReceiptDetail.Store)" Title="@Localizer["Store"]" />
        <RadzenDataGridColumn
            Property="@nameof(ReceiptDetail.PurchaseDate)"
            FormatString="{0:dd/MM/yyyy}"
            Title="@Localizer["PurchaseDate"]"
            SortOrder="SortOrder.Descending">
            <FilterTemplate>
                <RadzenLabel Text="@($"{Localizer["From"]}: ")" Component="PurchaseDateFromDatePicker" />
                <RadzenDatePicker TValue="DateOnly?" @bind-Value="@purchaseDateFrom" AllowClear="true" Name="PurchaseDateFromDatePicker" Change="@Reload" />
                <RadzenLabel Text="@($"{Localizer["To"]}: ")" Component="PurchaseDateToDatePicker" />
                <RadzenDatePicker TValue="DateOnly?" @bind-Value="@purchaseDateTo" AllowClear="true" Name="PurchaseDateToDatePicker" Change="@Reload" />
            </FilterTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(ReceiptDetail.TotalCost)" Title="@Localizer["TotalCost"]" />
    </Columns>
</RadzenDataGrid>

@code {
    private RadzenDataGrid<ReceiptDetail> grid = null!;
    private int count;
    private IEnumerable<ReceiptDetail> receiptDetails = null!;

    // Filters
    DateOnly? purchaseDateFrom = DateOnly.FromDateTime(DateTime.Today.AddDays(-DateTime.Today.Day + 1).AddMonths(-1));
    DateOnly? purchaseDateTo;
    private async Task Reload() => await grid.FirstPage(forceReload: true);
    
    private async Task LoadData(LoadDataArgs args)
    {
        (receiptDetails, count) = await GetData(
            purchaseDateFrom,
            purchaseDateTo,
            args.OrderBy,
            args.Skip.GetValueOrDefault(),
            args.Top.GetValueOrDefault(10));
    }

    private async Task<ReceiptDetailsResponse> GetData(
        DateOnly? purchaseDateMin,
        DateOnly? purchaseDateMax,
        string? orderBy,
        int skip,
        int take)
    {
        await Task.Yield();
        var query = Enumerable.Range(1, 10000)
            .Select(x => new ReceiptDetail
            {
                Id = x,
                PurchaseDate = DateOnly.FromDateTime(DateTime.Today.AddDays(-x)),
                Store = "Store " + x,
                TotalCost = x * 10m
            })
            .AsQueryable()
            .Where(r 
                => r.PurchaseDate >= purchaseDateMin.GetValueOrDefault(DateOnly.MinValue)
                && r.PurchaseDate <= purchaseDateMax.GetValueOrDefault(DateOnly.MaxValue));

        var receiptsCount = query.Count();
        if (!string.IsNullOrWhiteSpace(orderBy))
        {
            query = query.OrderBy(orderBy);
        }

        var data = query.Skip(skip).Take(take).ToList();
        return new ReceiptDetailsResponse(data, receiptsCount);
    }

    public sealed record ReceiptDetailsResponse(
        IEnumerable<ReceiptDetail> Receipts,
        int Count);

    public sealed class ReceiptDetail
    {
        public required int Id { get; set; }
        public required string Store { get; set; }
        public required DateOnly PurchaseDate { get; set; }
        public required decimal TotalCost { get; set; }
    }
}