@page "/"
@using System.Linq.Dynamic.Core
@inject IStringLocalizer<Receipts> Localizer

<PageTitle>@Localizer["_Receipts"]</PageTitle>

<h3>@Localizer["_Receipts"]</h3>

<RadzenDataGrid
    @ref=grid
    Data="@receiptDetails"
    Count="@count"
    LoadData="@LoadData"
    Style="height: 400px"
    AllowPaging="true"
    AllowFiltering="true"
    FilterMode="FilterMode.Simple"
    AllowSorting="true"
    GotoFirstPageOnSort="true">
    <Columns>
        <RadzenDataGridColumn Property="@nameof(ReceiptDetail.Id)" Title="@Localizer["Id"]" Visible="false" />
        <RadzenDataGridColumn Property="@nameof(ReceiptDetail.Store)" Title="@Localizer["Store"]" />
        <RadzenDataGridColumn
            Property="@nameof(ReceiptDetail.PurchaseDate)"
            FormatString="{0:dd/MM/yyyy}"
            Title="@Localizer["PurchaseDate"]"
            SortOrder="SortOrder.Descending"
            FilterValue="@from?.Date"
            FilterOperator="FilterOperator.GreaterThanOrEquals"
            SecondFilterValue="@to?.Date"
            SecondFilterOperator="FilterOperator.LessThanOrEquals">
            <FilterTemplate>
                <RadzenLabel Text="@($"{Localizer["From"]}: ")" Component="FromDatePicker" />
                <RadzenDatePicker @bind-Value="@from" AllowClear="true" Name="FromDatePicker" />
                <RadzenLabel Text="@($"{Localizer["To"]}: ")" Component="ToDatePicker" />
                <RadzenDatePicker @bind-Value="@to" AllowClear="true" Name="ToDatePicker" />
            </FilterTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(ReceiptDetail.TotalCost)" Title="@Localizer["TotalCost"]" />
    </Columns>
</RadzenDataGrid>

@code {
    private RadzenDataGrid<ReceiptDetail> grid = null!;
    private int count;
    IEnumerable<ReceiptDetail> receiptDetails = null!;

    // Filters
    DateTime? from = DateTime.Today.AddDays(-DateTime.Today.Day + 1).AddMonths(-1);
    DateTime? to = null;

    string? lastFilter;
    private async Task LoadData(LoadDataArgs args)
    {
        if (lastFilter != args.Filter)
        {
            lastFilter = args.Filter;
            args.Skip = 0;
        }

        var response = await GetData(args.Filter, args.OrderBy, args.Skip.GetValueOrDefault(), args.Top.GetValueOrDefault(10));
        (receiptDetails, count, grid.CurrentPage) = response;
    }

    private async Task<ReceiptDetailsResponse> GetData(string? filter, string? orderBy, int skip, int take)
    {
        await Task.Yield();
        var query = Enumerable.Range(1, 10000)
            .Select(x => new ReceiptDetail
            {
                Id = x,
                PurchaseDate = DateTime.Today.AddDays(-x),
                Store = "Store " + x,
                TotalCost = x * 10m
            })
            .AsQueryable();

        if (!string.IsNullOrWhiteSpace(filter))
        {
            query = query.Where(filter);
        }

        var receiptsCount = query.Count();
        if (!string.IsNullOrWhiteSpace(orderBy))
        {
            query = query.OrderBy(orderBy);
        }

        var data = query.Skip(skip).Take(take).ToList();
        var currentPage = skip / take;
        return new ReceiptDetailsResponse(data, receiptsCount, currentPage);
    }

    public sealed record ReceiptDetailsResponse(
        IEnumerable<ReceiptDetail> Receipts,
        int Count,
        int CurrentPage);

    public sealed class ReceiptDetail
    {
        public required int Id { get; set; }
        public required string Store { get; set; }
        public required DateTime PurchaseDate { get; set; }
        public required decimal TotalCost { get; set; }
    }
}